body {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 30% 40% 30%;
  height: 100vh;
}

.header {
  grid-row: 1;
  grid-column: 1/2;
}

.main-info {
  grid-row: 1;
  grid-column: 3/4;
  margin-left: -25%;
}

.about-img {
  grid-row: 2;
  grid-column: 1;
}

.about {
  grid-row: 2;
  grid-column: 2;
}

.about-img {
  height: 30vh;
  margin-top: 0;
}

.last {
  grid-row: 2;
  grid-column: 3;
}

.carousel {
  width: 60%;
  height: 65vh;
}

.carousel-control-next, .carousel-control-prev {
  top: 55vh;
}
.carousel-control-prev {
  left: 60vw;
}
.carousel-control-next {
  left: 69vw;
}

.carousel-item img {
  height: 65vh;
  width: 100%;
}